<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cart.css" type="text/css">
</head>
<style>
    p{
      font-size: 1.2rem;
      font-weight: bold;
    }
  </style>

  <body>

      <!-- Checkout Section Begin -->
      <section class="checkout spad">
          <div class="container">
              <div class="checkout__form">
                  <h1>결제</h1>
                  <br><br>
                  <form action="" id="buy" method="post" autocomplete="off" accept-charset="UTF-8">
                    <input type="hidden" name="productCount">  
                    <input type="hidden" name="orderListPr" value="<%=cart%>"> 
                    <input type="hidden" name="productDetail"> 
  
                  <table class="cart__list" style="text-align: center;">
                    <thead>
                      <tr>
                          <td>상품이미지</td>
                          <td>상품이름</td>
  
                          
                          <td>수량</td>
                          <td>상품금액</td>
                      </tr>
                  </thead>

                    <div class="row">
                          <div class="col-lg-12 col-md-12">
                            
                            <% for (i=0; i < buyProduct.length; i++){ %>
                            <tr class="checkout__input set-bg">
                              <td><img src="../../<%=buyProduct[i].PRODUCT_IMG%>" style= "width:150px";></td>
                              <td><p> <%=buyProduct[i].PRODUCT_NAME%><p></td>
                              <td><p><%=buyProduct[i].CARTPRODUCT_COUNT%> 개</p></td>
                              <td><p><%=buyProduct[i].PROD_PRICE%> 원</p></td>
                            </tr>
                            <%}%>
                          
                              <div class="checkout__input">
                                  <td></td>
                                  <td></td>
                                  <td><p>총 수량:<span>  <%=buyProduct[0].TOTAL%></span> </p></td>
                                  <td><p>총 결제금액<span> : <%=buyProduct[0].PRICETOTAL%> 원</span></p></td>
                              </div>
                            </table>
<br/><br/><br/>
<hr>
<br/>
<h2> 개인 정보</h2><br/>
                          <table class="cart__list" style="text-align: center;">
                              <thead>
                                  <th>목록</th>
                                  <th>내용</th>
                              </thead>

                              <tr>
                                <td>배송주소</td>
                                <!-- <td><input type="text"></td> -->
                                <td><input type="text" id="sample4_postcode" placeholder="우편번호">
                                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                                    <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                                    <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                                    <span id="guide" style="color:#999;display:none"></span>
                                    <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                                    
                                    
                                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                    <script>
                                        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                                        function sample4_execDaumPostcode() {
                                            new daum.Postcode({
                                                oncomplete: function(data) {
                                                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                                    
                                                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                                                    var extraRoadAddr = ''; // 참고 항목 변수
                                    
                                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                                        extraRoadAddr += data.bname;
                                                    }
                                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                                    if(data.buildingName !== '' && data.apartment === 'Y'){
                                                       extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                                    }
                                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                                    if(extraRoadAddr !== ''){
                                                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                                                    }
                                    
                                                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                                    document.getElementById('sample4_postcode').value = data.zonecode;
                                                    document.getElementById("sample4_roadAddress").value = roadAddr;
                                                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                                                    
                                                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                                    if(roadAddr !== ''){
                                                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                                                    } else {
                                                        document.getElementById("sample4_extraAddress").value = '';
                                                    }
                                    
                                                    var guideTextBox = document.getElementById("guide");
                                                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                                    if(data.autoRoadAddress) {
                                                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                                                        guideTextBox.style.display = 'block';
                                    
                                                    } else if(data.autoJibunAddress) {
                                                        var expJibunAddr = data.autoJibunAddress;
                                                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                                                        guideTextBox.style.display = 'block';
                                                    } else {
                                                        guideTextBox.innerHTML = '';
                                                        guideTextBox.style.display = 'none';
                                                    }
                                                }
                                            }).open();
                                        }
                                    </script></td>
                            </tr>

                              <tr class="checkout__input">
                                <td>연락받을 전화번호<span>*</span></td>
                                <td><input type="text" name="orderListPhone" placeholder="010-xxxx-xxxx" required></td>
                              </tr> 

                            </table>

                          </div>
                      </div>
                  </form><br/><br/>
                  <div style=" text-align: center;">
                    <button class="site-btn" id="insert_btn" style="margin: auto; display: inline-block;"> 결제하기</button>
                  </div>
                  
              </div>
          </div>
      </section>
      <!-- Checkout Section End -->
      <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
      <script>
        
          window.onload = function(){
          //ckeditor
          $("#insert_btn").click(function () {
            // console.log($("#insert_btn"))
            if (confirm("결제하시겠습니까?") == true) {
              var IMP = window.IMP; 
                IMP.init('imp76102156'); 
                IMP.request_pay({
                  pg : "kakaopay", 
                    pay_method : 'card',
                    merchant_uid : 'merchant_' + new Date().getTime(),
                    name : '결제',
                    amount : 1,
                    buyer_email : '구매자 이메일',
                    buyer_name : '구매자 이름',
                    buyer_tel : '구매자 번호',
                    buyer_addr : '구매자 주소',
                    buyer_postcode : '구매자 주소',
                    m_redirect_url : 'redirect url'
                }, function(rsp) {
                    if ( rsp.success ) {
                        var msg = '결제가 완료되었습니다.';
                        location.href='#';
                    } else {
                        var msg = '결제에 실패하였습니다.';
                        rsp.error_msg;
                        
                    }
                });
            } else {
              return;
            };
          });
        }
      </script>
  </body>
  