<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="../css/cart.css" type="text/css">
</head>


<body>
    <section class="cart">
        <div class="cart__information">
            <ul>
                <li>장바구니 상품은 최대 30일간 저장됩니다.</li>
                <li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
                <li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해 주시기 바랍니다.</li>
            </ul>
        </div>


        <table class="cart__list">
                <thead>
                    <tr>
                        <td><input type="checkbox" name ='chk' value='selectall' onclick='selectAll(this)'/></td>
                        <td>상품정보</td>

                        <td>상품이름</td>
                        <td>수량</td>
                        <td>상품금액</td>
                        <td> 가격</td>
                    </tr>
                </thead>



                <div class="row featured__filter">
                    <!-- 카트에 물품이 존재하는 경우 -->
                    <% if(cartProduct.length !=0){ for(i=0; i < cartProduct.length; i++){%>
                        <div>
                            <form id="cartForm" method="POST" action="">
                                <input type="hidden" id="cartChk" name="cartChk" />
                                <tr onclick='event.cancelBubble=true;' style="text-align: center;">
                                    <td><input type="checkbox" id="chk" name="chk"
                                            value="<%=cartProduct[i].CARTPRODUCT_ID %>"> </input></td>
                                    <td><img src="../../<%=cartProduct[i].PRODUCT_IMG%>"
                                            style="width: 150px;height: 100px;"></td>
                                    <td>
                                        <h6><a href="prodInfo?productId=<%=cartProduct[i].PRODUCT_ID%>">
                                                <%=cartProduct[i].PRODUCT_NAME%>
                                            </a></h6>
                                    </td>
                                    <td>
                                        <%=cartProduct[i].CARTPRODUCT_COUNT%>
                                    </td>
                                    <td>
                                        <%=cartProduct[i].PROD_PRICE%>
                                    </td>
                                    <td>
                                        <%=cartProduct[i].SUM_PRICE%>
                                    </td>
                                </tr>
                            
                        </div>

                        <%}%>

                                <tr style="text-align: center;">
                                    <td colspan="2"></td>
                                    <td>총 수량:</td>
                                    <td>
                                        <%=cartProduct[0].TOTAL%>
                                    </td>
                                    <td>총 가격 :</td>
                                    <td><%=cartProduct[0].PRICETOTAL%></td>
                                </tr>

                                    <%}else {%>
                                        <h2>장바구니에 상품이 존재하지 않습니다.</h2>
                                        <%}%>
                </div>
                <tfoot>

                    <tr>
                        
                        <td colspan="3"> <button id="delete_cart">선택상품 삭제</button>
                            <button class="cart__list__optionbtn">선택상품 찜</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </form>
        </table>


        <div class="cart__mainbtns">
            <a href="home"><button class="cart__bigorderbtn left">쇼핑 계속하기</button></a>
            <% if(cartProduct.length !=0){ %>

                <button id="buy_cart" class="cart__bigorderbtn right">주문하기</button>
                <%}%>
        </div>
    </section>
</body>
<script>

//체크 제품 삭제
window.onload = function () {
        $("#delete_cart").click(function () {
            console.log($("#delete_cart"))
            // 체크된 상품 번호 가져오기
            var chkArr = [];
            $("input[name=chk]:checked").each(function () {
                chkArr.push($(this).val());
            });
            console.log(chkArr)
            if (confirm("삭제하시겠습니까?") == true) {


                $('#cartChk').val(chkArr);
                console.log($('#cartChk'))
                $("#cartForm").attr("action", "cart");
                $("#cartForm").submit();
            } else {
                return;
            };
        });
    }



//주문하기 버튼 동적 실행
    window.onload = function () {
        $("#buy_cart").click(function () {
            console.log("#buy_cart")
            if (confirm("구매하시겠습니까?") == true) {

                // 체크된 상품 번호 가져오기
                var chkArr = [];
                $("input[name=chk]:checked").each(function () {
                    chkArr.push($(this).val());
                });
                console.log(chkArr)

                $('#cartChk').val(chkArr);
                console.log($('#cartChk'))
                $("#cartForm").attr("action", "deleteProduct");
                $("#cartForm").submit();
            } else {
                return;
            };
        });
    }

//체크박스 전체 선택
    function selectAll(selectAll)  {
  const checkboxes 
       = document.getElementsByName('chk');
  
  checkboxes.forEach((checkbox) => {
    checkbox.checked = selectAll.checked;
  })
}
</script>

</html>