<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>상세보기</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body  style="padding-top: 190px;">
        
        <!-- Header-->

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"></h1>
                    <p class="lead fw-normal text-white-50 mb-0">
                        상세보기
                    </p>
                    
                        <div class="col mb-5">
                            
                            <div class="card h-100" style="width: 304.2px;">
                                <!-- Product image: 이부분은 클릭된 해당 상품에 따라 사진이 변경되어야함.-->
                            
                                <img class="card-img-top" src="../<%=results[0].PRODUCT_IMG%>" width="100%">
                              
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name : 이 부분은 클릭된 해당 상품명이 출력 -->
                                        <h5 class="fw-bolder">macbook</h5>
                                        <!-- Product price : 이 부분은 클릭된 해당 상품 가격이 출력-->
                                        $120.00 - $280.00
                                    </div>
                                </div>

                                <!-- Product actions-->
                                <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="prodInfo">상세보기</a></div>
                                </div> -->
                            </div>
                            <!-- <div align="right"> -->
                                <table class="table table-bordered" border="1" style="width:50%; color: white;" >
                                    <tr>
                                        <td colspan="2">상품 정보</td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td>상품명</td>
                                        <td colspan="2"><%=results[0].PRODUCT_NAME%></input></td>
                                    </tr>
                                    <tr>
                                        <td>분류</td>
                                        <td><%=results[0].PRODUCT_DIV%></td>
                                    </tr>
                                    <tr>
                                        <td>상품가격</td>
                                        <td><%=results[0].PRODUCT_PRICE%></td>
                                    </tr>
                                    <tr>
                                        <td>상품설명</td>
                                        <td><%-results[0].PRODUCT_DETAIL%></td>
                                    </tr>
                                    
                                </table>


                                
                            <!-- </div> -->
                            <button>장바구니 담기</button>
                            <button>목록</button>

                            
                        </div>
                </div>

        </header>


        </body>
        </html>
